<h2>Task List</h2>


<form action="/tasks" method="post">
  <p>Enter the description of your task:</p>
  <div class="form-group">
    <label for="description">description</label>
    <input type="text" id="description" name="description" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-submit">Add Task</button>
</form>

#foreach ($todo in $todos)
<ul>
<li>$todo.getDescription()</li>
</ul>
#end